@using TestForOski.WebClient.Services
@model  CurrentUserService
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <p>Current role @Model.Role</p>
</div>
